<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc.dll" version="3.0.2" targetFramework="netstandard2.0" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Debug" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="OpenTK" version="3.0.1" targetFramework="netstandard2.0" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net47" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="netstandard2.0" />
  <package id="Prism.DryIoc.Forms" version="7.1.0.431" targetFramework="netstandard2.0" />
  <package id="Prism.Forms" version="7.1.0.431" targetFramework="netstandard2.0" />
  <package id="RestSharp" version="106.6.9" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.1" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="netstandard2.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net47" />
  <package id="Xamarin.Auth" version="1.6.0.4" targetFramework="net47" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="netstandard2.0" />
  <package id="Xamarin.Forms" version="4.0.0.425677" targetFramework="netstandard2.0" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.0.0.425677" targetFramework="net46" />
</packages>